---
import Stripe from 'stripe';
export const prerender = false
import Layout from "../layouts/Layout.astro";

const sessionID = Astro.url.searchParams.get('session_id')

const stripe = new Stripe(import.meta.env.STRIPE_KEY)

let sessionx
try {
  sessionx = await stripe.checkout.sessions.retrieve(sessionID!)
} catch (e) {
  // Redirect users back to checkout page if session is invalid
  return Astro.redirect('/shop')
}

const session = await stripe.checkout.sessions.retrieve(sessionID!)

const { name, email } = session.customer_details!
---

<Layout>
	<h1>Thanks for your purchase, {name}!</h1>
    <p>We've sent a receipt to {email}.</p>
</Layout>

<script>
    localStorage.removeItem("cart")
</script>

<style>
    h1 {
        font-family: 'Gugi', sans-serif;
        font-size: 40px;
        text-align: center;
    }
    p {
        font-family: 'Gugi', sans-serif;
        font-size: 20px;
        text-align: center;
    }
</style>