---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="flex flex-col items-center text-center">
		<img
			src="https://cloud-glhzd6bu2-hack-club-bot.vercel.app/0habtronics.svg"
			class="w-96 h-auto"
		/>
		<p class="w-3/4 font-inter text-2xl">
			Habtronics is a student-led organization that aims to facilitate open access to upper air environments to pioneer education and research opportunities. We are dedicated to providing high-altitude balloon tracking and recovery services to students and educators around the world. Our mission is to inspire the next generation of scientists, engineers, and explorers by providing hands-on experience in the field of high-altitude ballooning.
		</p>
	</div>
	<div class="team flex flex-col items-center text-center">
		<h1 class="font-gugi text-4xl mt-10">Meet the Team</h1>
		<div class="flex flex-col items-center text-center mt-5">
			<img
				src="https://maxsrobotics.vercel.app/assets/portrait.jpg"
				class="w-48 h-auto"
			/>
			<p class="font-gugi text-3xl mb-0 mt-3">
				Max Kendall
			</p>
			<p class="font-gugi w-1/2 text-xl mt-2 mb-14">
				Founder & CEO. Max is a middle school student with a passion for engineering, teaching, electonics, and programming.
			</p>
		</div>
		<div class="flex flex-col items-center text-center">
			<img
				src="https://cdn.hackclubber.dev/slackcdn/196568eb14b80f5af79dda797716e790.png"
				class="w-48 h-auto"
			/>
			<p class="font-gugi text-3xl mb-0 mt-3">
				Seth Kendall
			</p>
			<p class="font-gugi w-1/2 text-xl mt-2 mb-14">
				Cofounder of Habtronics. Seth is Max's dad who shares his love for STEM education and learning.
			</p>
		</div>
	</div>
</Layout>
