---
// src/pages/gallery.astro
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="max-w-5xl mx-auto px-6 py-12 font-inter">
        <h1 class="text-5xl font-sora mb-6">Gallery</h1>
        <p class="text-gray-700 mb-10 max-w-2xl">
            Explore moments from our high-altitude launches, student-led
            experiments, and behind-the-scenes prototyping. Each photo captures
            a piece of our journey to the edge of space.
        </p>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <div class="overflow-hidden rounded-lg shadow-sm">
                <img
                    src={'/images/launch1.jpg'}
                    alt={`Balloon launch`}
                    class="w-full h-auto object-cover hover:scale-105 transition-transform duration-300"
                />
            </div>
            <div class="overflow-hidden rounded-lg shadow-sm">
                <img
                    src={'/images/burst.jpg'}
                    alt={`Balloon burst`}
                    class="w-full h-auto object-cover hover:scale-105 transition-transform duration-300"
                />
            </div>
            <div class="overflow-hidden rounded-lg shadow-sm">
                <img
                    src={'/images/Earth5.jpg'}
                    alt={`View of Earth from high-altitude`}
                    class="w-full h-auto object-cover hover:scale-105 transition-transform duration-300"
                />
            </div>
        </div>
    </section>
</Layout>
