---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="home-welcome">
		<img src="/src/assets/logos/habtronics.svg">
		<p>Facilitating open access to upper air environments to pioneer education and research opportunities</p>
	</div>
</Layout>
 
<style>
	.home-welcome {
	}
	.home-welcome p {
		width: 1000px;
		font-family: Gugi;
		text-align: center;
		font-size: 40px;
	}
	.home-welcome img {
		width: 500px;
		height: auto;
	}
</style>