---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="flex flex-col items-center text-center">
		<img
			src="https://cloud-glhzd6bu2-hack-club-bot.vercel.app/0habtronics.svg"
			class="w-70 md:w-80 lg:w-100"
		/>
		<p class="w-11/12 md:w-3/4 font-gugi text-lg md:text-2xl lg:text-4xl p-10">
			Facilitating open access to upper air environments to pioneer
			education and research opportunities
		</p>
	</div>
	<div class="relative z-0">
		<video autoplay muted loop class="w-full h-auto">
			<source
				src="https://cloud-q9lrr3iua-hack-club-bot.vercel.app/0habtronics_bannervideo.mp4"
			/>
		</video>
	</div>
</Layout>
