---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="home-welcome">
		<img src="https://cloud-6anme7cf4-hack-club-bot.vercel.app/0habtronics.svg" />
		<p>
			Facilitating open access to upper air environments to pioneer
			education and research opportunities
		</p>
	</div>
	<div class="home-banner">
		<img src="https://cloud-bn2a22l5r-hack-club-bot.vercel.app/0habgab-sky.svg">
	</div>
</Layout>

<style>
	.home-welcome {
		display: flex;
    	flex-direction: column;
    	align-items: center;
    	text-align: center;
	}
	.home-welcome p {
		width: 1000px;
		font-family: Gugi;
		font-size: 40px;
	}
	.home-welcome img {
		width: 500px;
		height: auto;
	}

	.home-banner img {
		width: 100%;
	}
</style>
