---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
---

<Layout>
    <div class="banner">
        <img
            src="https://cloud-glhzd6bu2-hack-club-bot.vercel.app/0habtronics.svg"
        />
        <form role="search" id="search-form" onsubmit="return false;">
            <input type="text" placeholder="Search" id="search-input" />
        </form>
    </div>
    <div class="category">
        <p>Electronics</p>
    </div>
    <div class="products" id="product-list">
        <ProductCard
            title="Tiny4FSK - the ultra-tiny high-altitude tracker"
            price="94.99"
            href="https://www.tindie.com/products/habtronics/tiny4fsk/"
            image="https://cloud-mamrlfrif-hack-club-bot.vercel.app/0img_20241231_123232.jpg"
        />
    </div>
</Layout>

<style>
    .banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .banner img {
        height: 122px;
        margin-right: 70px;
    }

    .banner form {
        display: flex;
        align-items: center;
    }

    .banner input[type="text"] {
        height: 45px;
        width: 365px;
        border: solid black 3px;
        font-family: "Gugi";
        font-size: 30px;
    }

    .banner input::placeholder {
        font-family: "Gugi";
        font-size: 30px;
    }

    .banner input[type="submit"] {
        width: 50px;
        height: 45px;
        font-size: 20px;
        border-radius: 10px;
        margin-left: 30px;
        background-image: url("https://cloud-ajkwx2v9x-hack-club-bot.vercel.app/0search.svg");
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        border: 3px black solid;
    }

    .category {
        font-family: "Gugi";
        font-size: 40px;
        margin-left: 43px;
    }

    .products {
        display: flex;
        margin-left: 43px;
        gap: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const searchInput = document.getElementById(
            "search-input",
        ) as HTMLInputElement | null;
        const productList = document.getElementById(
            "product-list",
        ) as HTMLElement | null;

        if (!searchInput || !productList) {
            return;
        }

        searchInput.addEventListener("input", () => {
            const searchTerm = searchInput.value.toLowerCase();
            const products = productList.children;

            Array.from(products).forEach((product) => {
                const productElement = product as HTMLElement;
                const titleElement = productElement.querySelector(
                    "h1",
                ) as HTMLElement | null;

                if (!titleElement) {
                    return;
                }

                const title = titleElement.textContent?.toLowerCase();
                if (title && title.includes(searchTerm)) {
                    productElement.style.display = "flex"; // Show matched products
                } else {
                    productElement.style.display = "none"; // Hide unmatched products
                }
            });
        });
    });
</script>
