---
import "../layouts/Layout.astro"
---
<div class="navbar">
    <div class="logo">
        <a href="/">
            <img src="https://cloud-6anme7cf4-hack-club-bot.vercel.app/0habtronics.svg">
        </a>
    </div>
    <div class="links">
        <a href="/">HOME</a>
        <a href="/shop">SHOP</a>
        <a href="/about-us">ABOUT US</a>
    </div>
    <div class="menu-icon">
        <img src="https://cloud-qx8cskdog-hack-club-bot.vercel.app/0menu-nav.svg">
    </div>
</div>

<style>
    .navbar {
        display: flex;
        position: fixed;
        top: 0px;
        width: 100%;
        height: 80px;
        background-color: black;
        align-items: center;
        flex-direction: row;
        
    }

    .logo img {
        height: 60px;
        filter: invert();
    }

    .links {
        display: flex;
        justify-self: flex-end;
        gap: 75px;
        margin-left: auto;
        margin-right: 80px;
        align-self: center;
    }
    .links a {
        font-family: 'Gugi';
        font-size: 35px;
        color: white;
        text-decoration: none;
    }

    .menu-icon img {
        margin-right: 25px;
    }
</style>
