---

---

<div class="product-card">
    <img
        src="https://cloud-bn2a22l5r-hack-club-bot.vercel.app/0habgab-sky.svg"
    />
    <h1>Tiny4FSK - The ultra-tiny high-altitude tracker</h1>
    <div class="price-banner">
        <p>$52.65</p>
        <input type="button" value="View Page">
    </div>
</div>

<style>
    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        height: 460px;
        border: 4px black solid;
        border-radius: 30px;
    }
    .product-card img {
        display: flex;
        object-fit: cover;
        width: 260px;
        height: 280px;
        border-radius: 10px;
        margin-top: 20px;
    }
    .product-card h1 {
        font-family: Gugi;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 260px;
    }

    .price-banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 35px;
    }
    .price-banner p {
        font-family: Gugi;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .price-banner input {
        width: 100px;
        height: 36px;

        font-family: Gugi;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        border-radius: 10px;
        background: #D9D9D9;
    }
</style>
